.header{
    text-align: center;
    margin-top: 5px;
}
.logo{
    height: 50px;
}
.header nav {
    background-color: rgb(7, 7, 7);
    padding: 10px;
    line-height: 30px;
    text-align: start;
}  
.header nav a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    padding: 10px;
    text-transform: uppercase;
    margin-left: 10px;
}

.header nav a:hover{
   background-color: rgb(68, 67, 67);
   border-radius: 5px;
   transition: 0.5s;
}